.subnav {
  display: flex;
  align-content: flex-end;
  width: 100%;
  height: 50px;
  background: green;
  margin: auto;
  justify-content: space-evenly;
  line-height: 2.5em;
}

a {
  text-decoration: none;
  padding: 10px;
  color: black;
}

a:hover {
  color: white;
}
