.userCard {
  background: rgb(50, 144, 182, 0.7);
  border-radius: 15px;
  width: 50vw;
  margin: 30px auto;
  padding: 0;
}

li.centerItems {
  display: grid;
  grid-template-areas:
    "image"
    "name"
    "username";
  justify-items: center;
}

img {
  grid-area: image;
  height: 10vh;
  width: 10vh;
  margin: 20px 0 20px 0px;
  padding: 0;
  border-radius: 50%;
}

.name {
  grid-area: name;
  margin: auto 30px;
}

.username {
  grid-area: username;
  margin: 20px auto;
}

#marginRight {
  margin: auto 10px 0 0;
}
