/* .buttons {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
} */
section {
  margin: auto;
}

p {
  width: 100px;
  margin: auto;
  /* padding-left: 15px; */
}

.buttons {
  padding: 5px;
  border: auto;
  height: 30px;
  margin: 0 0 20px 0;
  /* width: 50px; */
}

/* .votes {
  grid-area: votes;
  margin-left: 50px;
} */
