.comments {
  list-style: none;
  overflow: hidden;
  font-size: 15px;
  width: 81%;
  margin: 0 auto 50px;
  padding: 0;
  border-radius: 15px;
}

ul.comments {
  background: rgb(50, 144, 182, 0.2);
}

li.commentList {
  grid-template-areas:
    "author"
    "body"
    "votes"
    "posted";
  text-align: center;
  margin: 0 40px;
  padding: 0;
}

.author {
  grid-area: author;
  margin: 10px auto;
  padding: 0;
}

.body {
  grid-area: body;
  margin: 0 auto 20px;
  padding: 0;
}

.posted {
  grid-area: posted;
  margin: 20px auto 20px;
  padding: 0;
}

.delete {
  grid-area: delete;
  margin: 20px auto;
  padding: 0;
}
