ul.container {
  list-style: none;
  border: 2px solid black;
  overflow: hidden;
  font-size: 15px;
  width: 80%;
  margin: 0 auto 35px;
  padding: 0;
  background: rgb(50, 144, 182, 0.4);
}

li {
  display: grid;
  /* grid-template-columns: minmax(min-content, 300px); */
  /* grid-template-areas:
    "topic title title title title"
    "topic . . user ."
    "topic comment_count votes votes posted"; */
  grid-template-areas:
    "topic"
    "title"
    "user"
    "comment_count"
    "votes"
    "posted";
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.topic {
  color: rgb(50, 144, 182);
  grid-area: topic;
  margin: 20px auto 0;
  padding: 0;

  /* transform: rotate(-90deg); */
}

.title {
  grid-area: title;
  margin: 10px auto;
  padding: 0;
  width: 70%;
}

h2.title:hover {
  color: white;
}

.user {
  grid-area: user;
  margin: 10px auto;
  padding: 0;
}

.highlightUser {
  margin-left: 5px;
}

.highlightUser:hover {
  color: white;
}

.comment_count {
  grid-area: comment_count;
  margin: 10px auto;
  padding: 0;
}

.posted {
  grid-area: posted;
  margin: 10px auto 20px;
  padding: 0;
  width: 100%;
}

section {
  width: 50%;
}
