html,
body {
  background: #d1e8e2;
  font: 15px/1.5 "Libre Caslon Text", serif, Helvetica, sans-serif;
  padding: 0;
  height: 100vh;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

div {
  text-align: center;
  margin: 0;
  padding: 0;
}

.mainNav {
  display: grid;
  align-items: center;
  overflow: hidden;
  background: #116466;
  font-size: 15px;
  height: 130px;
  width: 100%;
  margin: 0;
}

a {
  margin-right: 1px;
}

#footer {
  display: flex;
  flex-direction: column-reverse;
  height: 80px;
  background: #116466;
  bottom: 0;
  position: static;
  width: 100%;
  z-index: -1;
}

.center {
  margin: auto 0;
}

a:hover {
  color: white;
}

p,
a,
u,
h1,
h2,
span {
  color: rgb(20, 20, 20);
}
