html,
body {
  background: #d1e8e2;
  font: 15px/1.5 "Libre Caslon Text", serif, Helvetica, sans-serif;
  padding: 0;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "body"
    "footer";
}

div {
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  align-items: center;
  overflow: hidden;
  background: #116466;
  font-size: 15px;
  height: 130px;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* div.logo {
  margin: 20px 10px;
  font-size: 20px;
} */

a {
  margin-right: 1px;
}

#footer {
  grid-area: footer;
  display: flex;
  width: 100%;
  height: 80px;
  background: #116466;
  /* position: relative; */
  /* bottom: 0; */
}

.nowidth {
  width: 100%;
  margin: auto;
}

a:hover {
  color: white;
}

p,
a,
u,
h1,
h2,
span {
  color: rgb(20, 20, 20);
}
