.article {
  list-style: none;
  overflow: hidden;
  font-size: 15px;
  width: 80%;
  margin: 50px auto;
  padding: 0;
  background: rgb(50, 144, 182, 0.4);
  border-radius: 30px;
}

li.articles {
  text-align: center;
  margin: 0;
  padding: 0 40px;
}

.topic {
  color: rgb(50, 144, 182);
  margin: 20px auto;
  padding: 0;
}

.title {
  margin: auto;
  padding: 0;
  width: 70%;
}

.body {
  margin: 20px auto;
  padding: 0;
}

.user {
  margin: 0 auto 10px;
  padding: 0;
}

.comment_count {
  margin: 10px auto;
  padding: 0;
}

li section {
  grid-area: votes;
}

.posted {
  margin: 10px auto 20px;
  padding: 0;
  width: 100%;
}

section {
  width: 50%;
}
